/* div{
    background-color: aquamarine;
}
span{
    font-size: large;
}

h1{
    color: blueviolet;
    font-size: 26px;
    font-weight: thin; 
}

p{
    font-weight: bold;
}

#para{
    color: brown;
}

.imgone{
    width: 400px;
    height: 400px;
}

#one{
    background-color: cadetblue;
    position: sticky;
    top: 10px;
}

#two{
    background-color: chartreuse;
}

#three{
    background-color: chocolate;
}
div{
    height: 600px;
} */

body{
    height: 600px;
    margin: 0px;
}

table{
    background-color: cyan;
    width: 100%;
    position: fixed;
}

tr{
    color: white;
}

a{
    color: violet;
}